 <!DOCTYPE html>
<html>
<head>
<title>Text Analyzer</title>
</head>
<body>
    <p>
    <h1>Text Analyzer</h1>
    <form action = '/analyze' method = 'get'> 
    <textarea name = 'text' style="width: 566px; height: 55px;margin:0px"></textarea>
    <br>
    <input type = 'checkbox' name = 'removepunc'>Remove Puntuations <br>
    <input type = 'checkbox' name = 'uppercase'>UPPERCASE <br>
    <input type = 'checkbox' name = 'capitalize'>Capitalize <br>
    <input type = 'checkbox' name = 'newlineremover'>Remove New Line <br>
    <input type = 'checkbox' name = 'extraspaceremover'>Remove Extra space <br>
    <button type = 'submit'>Analyze Text</button> 
    </form>
    </p>
    </body>
</html> 
